.sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 72px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 4px;
  transition: background-color 0.15s;
}
.sidebar-link:hover {
  background-color: rgb(240, 240, 240);
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 6px;
}
.sidebar-link div {
  font-size: 10px;
}